.para{
    color: green;
}

p{
    color: red;
}

#heading-id{
    color: yellow;
}

.heading-class{
    color: brown;
}

h1{
    color: aqua;
}

.intro{
    background-color: yellow;
}

h2{
    background-color: burlywood;
}

h3{
    background-color: blue;
}

.inline-css-class{
    background-color: lawngreen;
}

#inline-css-id{
    background-color: lightblue;
}