div {
    background-color: rgb(27, 131, 131);
    font-size: 1.2rem;
    color: azure;
    padding: 5px;
    margin: 10px;
}

span {
    background-color: yellow;
    padding: 5px;
    margin: 10px;
    font-size: 1.2rem;
}