.div1 {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    animation-name: example1;
    animation-duration: 4s;
}

@keyframes example1 {
    from {
        background-color: lightcoral;
    }

    to {
        background-color: yellow;
    }
}

.div2 {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example2;
    animation-duration: 4s;
    margin-top: 50px;
}

@keyframes example2 {
    0% {
        background-color: red;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: blue;
    }

    100% {
        background-color: green;
    }
}

.div3 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example3;
    animation-duration: 4s;
    animation-delay: 2s;
    margin-top: 50px;
}

@keyframes example3 {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}