.img1 {
    -webkit-box-reflect: below;
}

.img2 {
    -webkit-box-reflect: right;
}

.img3 {
    -webkit-box-reflect: below 60px;
}

.img4 {
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
}

.div1 {
    margin-bottom: 500px;
}

.div3 {
    margin-bottom: 500px;
}

.div4 {
    margin-bottom: 500px;
}