body {
    margin: 0;
    padding: 0;
}

header {
    height: 10vh;
    background-color: aqua;
    text-align: center;
}

nav {
    height: 5vh;
    background-color: hotpink;
    text-align: center;
}

aside {
    min-height: 80vh;
    background-color: bisque;
    width: 300px;
    text-align: center;
}

main {
    min-height: 80vh;
    background-color: rgb(208, 228, 246);
    text-align: center;
    width: calc(100% - 300px);
}

footer {
    height: 10vh;
    background-color: blueviolet;
    text-align: center;
}

div {
    display: flex;
}